# EXTRACT EVENTS DARTMOUTH FLOOD OBSERVATORY

The file used can be found at: http://floodobservatory.colorado.edu/Archives/index.html

In [2]:
import pandas as pd
import numpy as np
import requests
import json
import datetime
import re
import io
import csv
import os

In [3]:
INPUT_FILE = "./data/Dartmouth/FloodArchive.xlsx" #Download from link above

data = pd.read_excel(INPUT_FILE, index_col=0)

In [4]:
data.head()

,GlideNumber,Country,OtherCountry,long,lat,Area,Began,Ended,Validation,Dead,Displaced,MainCause,Severity
ID,,,,,,,,,,,,,
1,0,Algeria,0,5.23026,35.81420,92615.67,1985-01-01,1985-01-05,News,26,3000,Heavy rain,1.0
2,0,Brazil,0,-45.34890,-18.71110,678498.82,1985-01-15,1985-02-02,News,229,80000,Heavy rain,2.0
3,0,Phillipines,0,122.97400,10.02070,12846.03,1985-01-20,1985-01-21,News,43,444,Torrential rain,1.0
4,0,Indonesia,0,124.60600,1.01489,16542.12,1985-02-04,1985-02-18,News,21,300,Torrential rain,1.0
5,0,Mozambique,0,32.34910,-25.86930,20082.21,1985-02-09,1985-02-11,News,19,0,Heavy rain,2.0

In [5]:
data.index = data.pop('Began')

In [6]:
data = data.loc['2018-08-01':'2019-04-01'] #We select events within the range we are interested in

In [7]:
data.head()

,GlideNumber,Country,OtherCountry,long,lat,Area,Ended,Validation,Dead,Displaced,MainCause,Severity
Began,,,,,,,,,,,,
2018-08-09,NaN,France,NaN,5.78789,44.41810,56965.28,2018-08-10,FloodList,0,1600,Torrential Rain,1.5
2018-08-02,NaN,Algeria,NaN,6.40648,22.97200,349302.36,2018-08-09,FloodList,5,0,Heavy Rain,1.5
2018-08-07,NaN,Canada,NaN,-78.92150,43.94050,4707.54,2018-08-09,FloodList,0,0,Torrential Rain,1.0
2018-08-07,NaN,India,NaN,76.72750,9.39943,24440.47,2018-08-10,Flood List,20,1000,Monsoonal Rain,1.5
2018-08-07,NaN,Turkey,NaN,40.52110,40.93070,23112.35,2018-08-10,FloodList,0,300,Heavy Rain,1.5

In [8]:
data = data.drop(columns=['GlideNumber', 'Validation', 'Severity'])
data.rename(columns={'Country': 'countries', 'Dead': 'deaths', 'Displaced': 'affected', 'Ended': 'end_date', 'MainCause': 'cause', 'ID': 'id_darmouth', 'Area': 'area'}, inplace=True)
data.rename_axis('start_date', inplace=True)

In [9]:
data = data.sort_values(by='start_date')
data['in_darmouth'] = 1 #Add identifier of source for future merging process
data.head()

,countries,OtherCountry,long,lat,area,end_date,deaths,affected,cause
start_date,,,,,,,,,
2018-08-01,Sudan,NaN,31.94180,13.48700,629241.72,2018-09-04,23,4500,Heavy Rain
2018-08-02,Algeria,NaN,6.40648,22.97200,349302.36,2018-08-09,5,0,Heavy Rain
2018-08-02,India,NaN,94.12220,27.29140,73328.62,2018-08-10,0,25000,Monsoonal Rain
2018-08-07,Canada,NaN,-78.92150,43.94050,4707.54,2018-08-09,0,0,Torrential Rain
2018-08-07,India,NaN,76.72750,9.39943,24440.47,2018-08-10,20,1000,Monsoonal Rain
...,...,...,...,...,...,...,...,...,...
2019-03-17,Iran,Afghanistan,61.58450,30.13460,986684.27,2019-04-02,101,56000,Heavy Rain and Torrential Rain
2019-03-23,Burundi,NaN,29.88810,-3.14741,9362.24,2019-03-29,0,25,Torrential Rain
2019-03-25,New Zealand,NaN,171.29700,-42.76380,36524.78,2019-03-27,1,0,Torrential Rain
2019-03-29,Peru,NaN,-75.14890,-6.29384,659470.61,2019-04-02,0,150,Heavy Rain
2019-04-01,Colombia,NaN,-74.99960,5.21079,517907.89,2019-04-20,10,0,Torrential Rain

In [10]:
data.reset_index(inplace = True)

for index, row in data.iterrows(): #We join several countries in one single column
    if (not pd.isnull(row['OtherCountry'])):
        data.at[index, 'countries'] = (", ".join([row['countries'], row['OtherCountry']]))

Myanmar
Oman
Slovenia
Iran
Israel
Malaysia
Malawi
Peru
Mozambique
Pakistan
Jordan
Bolivia
Afghanistan

,start_date,id_darmouth,countries,OtherCountry,long,lat,area,end_date,deaths,affected,cause,in_darmouth
0,2018-08-01,4668,Sudan,NaN,31.94180,13.48700,629241.72,2018-09-04,23,4500,Heavy Rain,1
1,2018-08-02,4660,Algeria,NaN,6.40648,22.97200,349302.36,2018-08-09,5,0,Heavy Rain,1
2,2018-08-02,4665,India,NaN,94.12220,27.29140,73328.62,2018-08-10,0,25000,Monsoonal Rain,1
3,2018-08-07,4661,Canada,NaN,-78.92150,43.94050,4707.54,2018-08-09,0,0,Torrential Rain,1
4,2018-08-07,4663,India,NaN,76.72750,9.39943,24440.47,2018-08-10,20,1000,Monsoonal Rain,1
5,2018-08-07,4664,Turkey,NaN,40.52110,40.93070,23112.35,2018-08-10,0,300,Heavy Rain,1
6,2018-08-09,4659,France,NaN,5.78789,44.41810,56965.28,2018-08-10,0,1600,Torrential Rain,1
7,2018-08-15,4675,"India, Myanmar",Myanmar,94.76550,26.05130,28864.54,2018-09-07,11,2000,Monsoonal Rain,1
8,2018-08-20,4667,Nigeria,NaN,8.23750,10.47480,257477.37,2018-10-02,108,148000,Heavy Rain,1
9,2018-08-22,4670,USA,NaN,-155.44100,19.66890,7451.62,2018-08-31,0,50,Tropical Storm Lane,1
10,2018-08-24,4674,North Korea,NaN,126.57300,38.53090,25734.39,2018-09-06,76,58000,Heavy Rain and Tropical Storm Soul,1
11,2018-08-31,4669,USA,NaN,-76.71930,40.26960,25377.62,2018-09-01,1,0,Torrential Rain,1
12,2018-09-01,4673,India,NaN,82.43090,25.73540,70859.96,2018-09-07,20,1000,Monsoonal Rain,1
13,2018-09-01,4672,USA,NaN,-96.91000,38.82970,40006.30,2018-09-07,0,300,Torrential Rain,1
14,2018-09-01,4683,Ghana,NaN,-1.06606,9.53755,83997.78,2018-10-02,34,100000,"Heavy Rain, Dam releases",1
15,2018-09-03,4671,Mexico,NaN,-100.73300,28.65360,7484.27,2018-09-07,0,20,Torrential Rain,1
16,2018-09-15,4676,USA,NaN,-78.90910,35.06420,95203.22,2018-10-02,12,1500000,Tropical Stom Florence,1
17,2018-09-23,4684,India,NaN,76.62850,31.34140,114348.33,2018-10-02,28,935,Torrential Rain,1
18,2018-09-24,4679,USA,NaN,-73.62640,41.16070,7688.76,2018-09-28,0,0,Torrential Rain,1
19,2018-09-25,4677,Venezuela,NaN,-66.54970,10.42570,3147.09,2018-09-28,2,1000,Torrential Rain,1
20,2018-09-26,4678,USA,NaN,-84.20420,35.24030,8943.56,2018-09-28,1,40,Torrential Rain,1
21,2018-09-28,4682,Indonesia,NaN,120.25100,-1.01063,11467.68,2018-09-29,800,17000,Tsunami,1
22,2018-09-29,4680,Uruguay,NaN,-55.30380,-32.08750,141701.16,2018-10-02,4,36,Heavy Rain,1
23,2018-09-30,4681,Greece,NaN,24.22180,37.69010,61577.88,2018-10-02,0,0,Storm Zorba,1
24,2018-10-02,4689,Sri Lanka,NaN,80.63700,6.80639,29246.23,2018-10-04,9,5000,Torrential Rain,1
25,2018-10-05,4690,Iran,NaN,52.42940,35.60640,340197.41,2018-10-06,9,143,Torrential Rain,1
26,2018-10-05,4691,Colombia,NaN,-72.45100,11.23440,19329.37,2018-10-21,0,0,Heavy Rain,1
27,2018-10-09,4688,Spain,NaN,2.93621,39.59100,2882.25,2018-10-11,5,200,Torrential Rain,1
28,2018-10-10,4687,USA,NaN,-82.02680,33.62790,289139.57,2018-10-12,0,5000,Tropical Storm Michael,1
29,2018-10-11,4686,India,NaN,83.35880,17.90000,87682.57,2018-10-12,7,300000,Tropical Storm Titli,1
...,...,...,...,...,...,...,...,...,...,...,...,...
48,2018-12-05,4711,USA,NaN,-120.05800,35.77870,72393.23,2018-12-10,0,0,Heavy Rain,1
49,2018-12-05,4710,"Cyprus, Israel",Israel,35.20790,32.71340,14894.88,2018-12-10,4,0,Heavy Rain,1
50,2018-12-06,4709,Vietnam,NaN,106.56800,17.36780,13984.75,2018-12-12,2,400,Heavy Rain,1
51,2018-12-22,4714,Sri Lanka,NaN,80.85970,7.71145,49073.87,2018-12-26,2,11000,Heavy Rain,1
52,2018-12-22,4715,Indonesia,NaN,105.70400,-4.95813,12324.38,2018-12-23,373,1600,Tsunami,1
53,2018-12-29,4713,Philippines,NaN,124.99000,11.79220,45871.98,2019-01-07,100,80000,Tropical Storm Usman,1
54,2019-01-04,4712,"Thailand, Malaysia",Malaysia,100.60900,7.00712,78110.94,2019-01-07,3,45000,Tropical Storm Pabuk,1
55,2019-01-09,4716,"Mozambique, Malawi",Malawi,35.99970,-17.60380,357274.22,2019-01-11,20,50,Heavy Rain,1
56,2019-01-22,4721,Spain,NaN,-6.22508,43.28390,6802.40,2019-01-25,4,0,Heavy Rain,1
57,2019-01-25,4720,Brazil,NaN,-44.10000,-20.14000,9422.72,2019-01-29,60,0,Dam Break,1
58,2019-01-26,4726,"Chile, Peru",Peru,-69.24540,-21.96490,272110.34,2019-02-19,6,600,Heavy Rain,1
59,2019-01-26,4719,Australia,NaN,144.97000,-16.29610,51581.36,2019-01-29,0,0,Heavy Rain,1
60,2019-01-26,4718,Philippines,NaN,125.44700,7.04402,43546.93,2019-01-29,0,20000,Heavy Rain,1
61,2019-01-26,4717,Saudi Arabia,NaN,41.29480,26.67410,632315.72,2019-01-29,1,100,Torrential Rain,1
62,2019-02-09,4722,Ecuador,NaN,-77.96880,-1.23336,68561.57,2019-02-20,0,0,Heavy Rain,1
63,2019-02-11,4725,"Malawi, Mozambique",Mozambique,34.31710,-14.52960,77812.85,2019-03-27,900,100000,"Heavy Rain, Tropical Storm Idai",1
64,2019-02-12,4723,Greece,NaN,24.87750,35.13570,5175.77,2019-02-18,4,0,Torrential Rain,1
65,2019-02-12,4724,Zimbawe,NaN,30.80360,-19.04050,154678.41,2019-02-18,2,300,Heavy Rain,1
66,2019-02-25,4727,USA,NaN,-122.82900,38.97880,21540.28,2019-03-04,1,8000,Heavy Rain,1
67,2019-02-26,4729,"Afghanistan, Pakistan",Pakistan,67.07750,31.99070,441236.30,2019-03-02,50,2000,Torrential Rain,1
68,2019-02-28,4728,"Israel, Jordan",Jordan,35.57910,32.55190,3420.54,2019-03-01,0,0,Torrential Rain,1
69,2019-03-10,4731,Brazil,NaN,-46.12400,-23.53860,20310.38,2019-03-14,12,1300,Heavy Rain,1
70,2019-03-12,4732,South Africa,NaN,30.04890,-30.65560,11617.23,2019-03-15,3,0,Torrential Rain,1
71,2019-03-13,4730,USA,NaN,-94.44800,40.27820,492797.37,2019-04-02,3,0,"Snowmelt, Heavy Rain, Ice Jams",1
72,2019-03-15,4736,"Paraguay, Bolivia",Bolivia,-57.82760,-22.66540,259389.42,2019-04-02,0,250,Heavy Rain,1
73,2019-03-17,4734,"Iran, Afghanistan",Afghanistan,61.58450,30.13460,986684.27,2019-04-02,101,56000,Heavy Rain and Torrential Rain,1
74,2019-03-23,4737,Burundi,NaN,29.88810,-3.14741,9362.24,2019-03-29,0,25,Torrential Rain,1
75,2019-03-25,4733,New Zealand,NaN,171.29700,-42.76380,36524.78,2019-03-27,1,0,Torrential Rain,1
76,2019-03-29,4735,Peru,NaN,-75.14890,-6.29384,659470.61,2019-04-02,0,150,Heavy Rain,1
77,2019-04-01,4738,Colombia,NaN,-74.99960,5.21079,517907.89,2019-04-20,10,0,Torrential Rain,1

In [11]:
data = data.drop(columns=['OtherCountry'])
data.index = data.pop('start_date')
data.head()

,start_date,id_darmouth,countries,long,lat,area,end_date,deaths,affected,cause,in_darmouth
0,2018-08-01,4668,Sudan,31.94180,13.48700,629241.72,2018-09-04,23,4500,Heavy Rain,1
1,2018-08-02,4660,Algeria,6.40648,22.97200,349302.36,2018-08-09,5,0,Heavy Rain,1
2,2018-08-02,4665,India,94.12220,27.29140,73328.62,2018-08-10,0,25000,Monsoonal Rain,1
3,2018-08-07,4661,Canada,-78.92150,43.94050,4707.54,2018-08-09,0,0,Torrential Rain,1
4,2018-08-07,4663,India,76.72750,9.39943,24440.47,2018-08-10,20,1000,Monsoonal Rain,1
5,2018-08-07,4664,Turkey,40.52110,40.93070,23112.35,2018-08-10,0,300,Heavy Rain,1
6,2018-08-09,4659,France,5.78789,44.41810,56965.28,2018-08-10,0,1600,Torrential Rain,1
7,2018-08-15,4675,"India, Myanmar",94.76550,26.05130,28864.54,2018-09-07,11,2000,Monsoonal Rain,1
8,2018-08-20,4667,Nigeria,8.23750,10.47480,257477.37,2018-10-02,108,148000,Heavy Rain,1
9,2018-08-22,4670,USA,-155.44100,19.66890,7451.62,2018-08-31,0,50,Tropical Storm Lane,1
10,2018-08-24,4674,North Korea,126.57300,38.53090,25734.39,2018-09-06,76,58000,Heavy Rain and Tropical Storm Soul,1
11,2018-08-31,4669,USA,-76.71930,40.26960,25377.62,2018-09-01,1,0,Torrential Rain,1
12,2018-09-01,4673,India,82.43090,25.73540,70859.96,2018-09-07,20,1000,Monsoonal Rain,1
13,2018-09-01,4672,USA,-96.91000,38.82970,40006.30,2018-09-07,0,300,Torrential Rain,1
14,2018-09-01,4683,Ghana,-1.06606,9.53755,83997.78,2018-10-02,34,100000,"Heavy Rain, Dam releases",1
15,2018-09-03,4671,Mexico,-100.73300,28.65360,7484.27,2018-09-07,0,20,Torrential Rain,1
16,2018-09-15,4676,USA,-78.90910,35.06420,95203.22,2018-10-02,12,1500000,Tropical Stom Florence,1
17,2018-09-23,4684,India,76.62850,31.34140,114348.33,2018-10-02,28,935,Torrential Rain,1
18,2018-09-24,4679,USA,-73.62640,41.16070,7688.76,2018-09-28,0,0,Torrential Rain,1
19,2018-09-25,4677,Venezuela,-66.54970,10.42570,3147.09,2018-09-28,2,1000,Torrential Rain,1
20,2018-09-26,4678,USA,-84.20420,35.24030,8943.56,2018-09-28,1,40,Torrential Rain,1
21,2018-09-28,4682,Indonesia,120.25100,-1.01063,11467.68,2018-09-29,800,17000,Tsunami,1
22,2018-09-29,4680,Uruguay,-55.30380,-32.08750,141701.16,2018-10-02,4,36,Heavy Rain,1
23,2018-09-30,4681,Greece,24.22180,37.69010,61577.88,2018-10-02,0,0,Storm Zorba,1
24,2018-10-02,4689,Sri Lanka,80.63700,6.80639,29246.23,2018-10-04,9,5000,Torrential Rain,1
25,2018-10-05,4690,Iran,52.42940,35.60640,340197.41,2018-10-06,9,143,Torrential Rain,1
26,2018-10-05,4691,Colombia,-72.45100,11.23440,19329.37,2018-10-21,0,0,Heavy Rain,1
27,2018-10-09,4688,Spain,2.93621,39.59100,2882.25,2018-10-11,5,200,Torrential Rain,1
28,2018-10-10,4687,USA,-82.02680,33.62790,289139.57,2018-10-12,0,5000,Tropical Storm Michael,1
29,2018-10-11,4686,India,83.35880,17.90000,87682.57,2018-10-12,7,300000,Tropical Storm Titli,1
...,...,...,...,...,...,...,...,...,...,...,...
48,2018-12-05,4711,USA,-120.05800,35.77870,72393.23,2018-12-10,0,0,Heavy Rain,1
49,2018-12-05,4710,"Cyprus, Israel",35.20790,32.71340,14894.88,2018-12-10,4,0,Heavy Rain,1
50,2018-12-06,4709,Vietnam,106.56800,17.36780,13984.75,2018-12-12,2,400,Heavy Rain,1
51,2018-12-22,4714,Sri Lanka,80.85970,7.71145,49073.87,2018-12-26,2,11000,Heavy Rain,1
52,2018-12-22,4715,Indonesia,105.70400,-4.95813,12324.38,2018-12-23,373,1600,Tsunami,1
53,2018-12-29,4713,Philippines,124.99000,11.79220,45871.98,2019-01-07,100,80000,Tropical Storm Usman,1
54,2019-01-04,4712,"Thailand, Malaysia",100.60900,7.00712,78110.94,2019-01-07,3,45000,Tropical Storm Pabuk,1
55,2019-01-09,4716,"Mozambique, Malawi",35.99970,-17.60380,357274.22,2019-01-11,20,50,Heavy Rain,1
56,2019-01-22,4721,Spain,-6.22508,43.28390,6802.40,2019-01-25,4,0,Heavy Rain,1
57,2019-01-25,4720,Brazil,-44.10000,-20.14000,9422.72,2019-01-29,60,0,Dam Break,1
58,2019-01-26,4726,"Chile, Peru",-69.24540,-21.96490,272110.34,2019-02-19,6,600,Heavy Rain,1
59,2019-01-26,4719,Australia,144.97000,-16.29610,51581.36,2019-01-29,0,0,Heavy Rain,1
60,2019-01-26,4718,Philippines,125.44700,7.04402,43546.93,2019-01-29,0,20000,Heavy Rain,1
61,2019-01-26,4717,Saudi Arabia,41.29480,26.67410,632315.72,2019-01-29,1,100,Torrential Rain,1
62,2019-02-09,4722,Ecuador,-77.96880,-1.23336,68561.57,2019-02-20,0,0,Heavy Rain,1
63,2019-02-11,4725,"Malawi, Mozambique",34.31710,-14.52960,77812.85,2019-03-27,900,100000,"Heavy Rain, Tropical Storm Idai",1
64,2019-02-12,4723,Greece,24.87750,35.13570,5175.77,2019-02-18,4,0,Torrential Rain,1
65,2019-02-12,4724,Zimbawe,30.80360,-19.04050,154678.41,2019-02-18,2,300,Heavy Rain,1
66,2019-02-25,4727,USA,-122.82900,38.97880,21540.28,2019-03-04,1,8000,Heavy Rain,1
67,2019-02-26,4729,"Afghanistan, Pakistan",67.07750,31.99070,441236.30,2019-03-02,50,2000,Torrential Rain,1
68,2019-02-28,4728,"Israel, Jordan",35.57910,32.55190,3420.54,2019-03-01,0,0,Torrential Rain,1
69,2019-03-10,4731,Brazil,-46.12400,-23.53860,20310.38,2019-03-14,12,1300,Heavy Rain,1
70,2019-03-12,4732,South Africa,30.04890,-30.65560,11617.23,2019-03-15,3,0,Torrential Rain,1
71,2019-03-13,4730,USA,-94.44800,40.27820,492797.37,2019-04-02,3,0,"Snowmelt, Heavy Rain, Ice Jams",1
72,2019-03-15,4736,"Paraguay, Bolivia",-57.82760,-22.66540,259389.42,2019-04-02,0,250,Heavy Rain,1
73,2019-03-17,4734,"Iran, Afghanistan",61.58450,30.13460,986684.27,2019-04-02,101,56000,Heavy Rain and Torrential Rain,1
74,2019-03-23,4737,Burundi,29.88810,-3.14741,9362.24,2019-03-29,0,25,Torrential Rain,1
75,2019-03-25,4733,New Zealand,171.29700,-42.76380,36524.78,2019-03-27,1,0,Torrential Rain,1
76,2019-03-29,4735,Peru,-75.14890,-6.29384,659470.61,2019-04-02,0,150,Heavy Rain,1
77,2019-04-01,4738,Colombia,-74.99960,5.21079,517907.89,2019-04-20,10,0,Torrential Rain,1

In [13]:
outfile = "./data/databases/dartmouth.csv"
data.to_csv(outfile, sep=',')

In [14]:
type(data.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
print(list(data.columns.values))

['id_darmouth', 'countries', 'long', 'lat', 'area', 'end_date', 'deaths', 'affected', 'cause', 'in_darmouth']